/* From Uiverse.io by vinodjangid07 */
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1e293b;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px #1e293b;
  opacity: 0.7;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  right: 40px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  opacity: 1;
  background-color: blueviolet;
}
