.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  /* margin-block: 50px; */
}

.container {
  max-width: 60vw;
  width: max-content;
  margin: 0 auto;
  background-color: #111827;
  padding: 30px 40px;
  border-radius: 15px;
}

.title h1 {
  margin: 0;
}

.title p {
  margin-bottom: 25px;
  margin-top: 5px;
  color: hsl(215 20% 55%);
}

.otherLogin {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}

.button {
  background-color: #e5e5e5;
  color: #171717;
  border: none;
  outline: none;
  font-weight: 600;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 10px rgba(36, 241, 220, 0.6);
  transform: scale(1.01);
}

.loginQuote {
  text-align: center;
  margin: 0;
  padding-top: 30px;
  color: hsl(215 20% 55%);
}

.loginQuote a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.loginQuote a:hover {
  text-decoration: underline;
}

/* loading spinning icon  */
.signInBtn {
  width: 100%;
  height: 42px;
  background: #6366f1;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInBtn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

/* loading wrapper */
.loading {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* dots container */
.dots span {
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out;
  font-size: 22px;
  line-height: 0;
}

/* delay each dot */
.dots span:nth-child(1) {
  animation-delay: 0s;
}
.dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

/* up-down animation */
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
  40% {
    transform: translateY(-6px);
    opacity: 1;
  }
}

@media screen and (max-width: 472px) {
  .form {
    overflow: hidden;
  }

  .container {
    max-width: none;
    width: 100vw;
    height: 100vh;
    padding-top: 150px;
  }
}
