.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 450px;
  background: #111827;
  border-radius: 16px;
  padding: 24px;
  color: #e2e8f0;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.passwordBox {
  margin-top: 20px;
  background: #1e293b;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordBox input {
  background: transparent;
  border: none;
  color: white;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.icons {
  display: flex;
  justify-content: start;
  align-items: center;
}

.icons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.strengthBar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.strengthFill {
  height: 6px;
  background-color: white;
  border-radius: 4px;
  flex: 1;
}

.section {
  margin-top: 24px;
}

.lengthBox {
  background: #1e293b;
  padding: 6px 12px;
  border-radius: 8px;
  display: inline-block;
}

input[type="range"] {
  width: 100%;
  outline: none;
}

.toggleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  color: #7588a3;
}

.toggle {
  width: 50px;
  height: 26px;
  background: #334155;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.toggle.active {
  background: #22d3ee;
}

.circle {
  width: 22px;
  height: 22px;
  background: #1a2335;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.toggle.active .circle {
  left: 26px;
}

.generateBtn {
  margin-top: 24px;
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #22d3ee;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.generateBtn:hover {
  background: #22d3ee;
  color: black;
}

@media screen and (max-width: 600px) {
  .generateBtn:hover {
    background: none;
    color: white;
  }
}
