/* Layout */
.app {
  display: flex;
  background: #0b0f14;
  color: #e5e7eb;
  max-width: 1700px;
  margin: 0 auto;
}

/* Sidebar */
.sidebar {
  width: 260px;
  height: 100vh;
  background: #0f1620;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: fixed;
}

.main {
  margin-left: 300px;
}

.brand {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo {
  border: 1px solid #94a3b8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 22%;
  height: 90%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userDetails {
  text-wrap: nowrap;
}

.brand h2 {
  margin: 0;
}

.brand p {
  margin: 0;
  font-size: 13px;
  color: #94a3b8;
}

.addBtn {
  background: #1ddac6;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.addBtn:hover {
  background: #24f1dc;
  box-shadow: 0 0 10px rgba(36, 241, 220, 0.6);
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuItem {
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: large;
  color: hsl(215 20% 55%);
}

.menuItem.active {
  color: white;
}

.menuItem span {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.menuItem:hover {
  background: #1e293b;
  color: white;
}

.active {
  background: #1e293b;
}

.active .badge {
  background: #1ddac6;
  color: black;
}

.badge {
  background: hsl(215 20% 55%);
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 12px;
  color: white;
}

/* Main */
.main {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamber {
  display: none;
}

.title h1 {
  color: white;
  margin: 0;
}

.subtitle {
  color: #94a3b8;
  margin-top: 0;
  margin-bottom: 25px;
}

/* Search */
.searchBox {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: 14px;
  top: 32%;
  transform: translateY(-50%);
  color: #94a3b8;
}

.search {
  width: 100%;
  padding: 14px 50px;
  border-radius: 12px;
  border: none;
  background: #111827;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 25px;
  border: 1px solid hsl(215 20% 55%);
  outline: none;
}

.search:focus {
  border: 1px solid #24f1dccb;
}

/* Stats */
.stats {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.statCard,
.statWide {
  background: #111827;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  border: 1px solid hsl(215 20% 55%);
}

.statCard:hover,
.statWide:hover,
.card:hover {
  box-shadow: 0 0 10px rgba(36, 241, 220, 0.6);
}

.statCard {
  cursor: pointer;
  width: 180px;
}

.statWide {
  flex-grow: 1;
  justify-content: space-between;
  text-wrap: nowrap;
  margin-bottom: 30px;
}

.statWide p {
  color: #94a3b8;
  font-weight: 600;
}

.encryptStatusMobile {
  display: none;
}

.statWide p,
.statWide h5 {
  margin-bottom: 0;
  margin-top: 3px;
}

.icon {
  background-color: #21e3d048;
  color: #24f1dc;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details p {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.data h3,
.data p {
  margin: 0;
}

.data p {
  color: hsl(215 20% 55%);
}

/* Cards */
.card {
  background: #111827;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site {
  display: flex;
  gap: 12px;
  align-items: center;
}

.site h3 {
  margin: 0;
}

.site p {
  margin-bottom: 0;
  margin-top: 5px;
  color: #94a3b8;
  font-size: 14px;
}

.actions1 {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  color: hsl(215 20% 55%);
}

.actions2 {
  display: none;
  gap: 12px;
  color: hsl(215 20% 55%);
}

.passwordContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
}

.passwordContainer p {
  margin: 0;
  color: #94a3b8;
  font-weight: 900;
}

.password {
  background: #1e293b;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100px;
  color: white;
  border: none;
  outline: none;
  font-size: large;
}

/* Responsive */
@media screen and (max-width: 1297px) {
  .stats {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
  }

  .main {
    margin-left: 0;
  }

  .hamber {
    display: block;
  }

  .main {
    padding: 20px;
  }
}

@media screen and (max-width: 620px) {
  .sidebar {
    width: 220px;
  }

  .statCard {
    width: 150px;
  }
}

@media screen and (max-width: 560px) {
  .subtitle {
    display: none;
  }

  .titleHead {
    padding-bottom: 15px;
  }

  .hamber {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 541px) {
  .statCard {
    width: 130px;
  }
}

@media screen and (max-width: 460px) {
  .actions1 {
    display: none;
  }

  .actions2 {
    display: flex;
  }

  .passwordContainer p {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .encryptStatusMobile {
    display: block;
  }

  .encryptStatusDesktop {
    display: none;
  }
}

@media screen and (max-width: 384px) {
  .statCard {
    padding: 5px;
  }

  .data p {
    display: none;
  }

  .encryptStatusMobile {
    display: none;
  }

  .titleHead {
    font-size: x-large;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 344px) {
  .statCard {
    width: 100px;
    padding: 5px;
  }
}
