.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.306);
  z-index: 50;
  backdrop-filter: blur(4px);
}

.loading {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 5px solid #24f1dcbe;
  border-bottom: 5px solid #24f1dcbe;
  border-radius: 50%;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  animation: spin 2s ease infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
