.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  pointer-events: all;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.settingContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  background: #111827;
  border-radius: 10px;
  padding: 20px;
  color: #e5e7eb;
  height: 85%;
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerIcon {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

.title {
  color: #7588a3;
  margin-bottom: 5px;
  margin-top: 30px;
  text-transform: uppercase;
}

.card {
  background-color: #1b263e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.text p,
.text h4,
.aboutCard p,
.aboutCard h4 {
  margin: 0;
}

.heading {
  color: #faf8fc;
}

.subHeading {
  color: #7588a3;
}

.btnOuter {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 43px;
  background-color: #303540;
  height: 23px;
  border-radius: 20px;
  padding: 2px 3px;
  transition: background-color 0.3s ease;
}

.btnInner {
  background-color: #1a2335;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.btnActive {
  background-color: #24dbc9;
}

.btnActive .btnInner {
  transform: translateX(20px);
}

.btn {
  padding: 6px 10px;
  border: 1px solid #21e3d048;
  border-radius: 10px;
  color: #24dbc9;
  font-weight: 800;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.aboutCard {
  margin-top: 30px;
  background-color: #21e3d048;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 15px 20px;
  border-radius: 15px;
  text-wrap: nowrap;
}

.ChangePassBtn {
  cursor: pointer;
  padding: 11px;
  width: 100%;
  border: 1px solid #2dd4bf;
  background-color: transparent;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteAccountBtn {
  border-radius: 12px;
  flex: 1;
  background-color: red;
  height: max-content;
  padding: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 600;
}

.deleteAccountBtn:hover {
  box-shadow: 0 0 10px rgba(36, 241, 220, 0.6);
}

.ChangePassBtn:hover {
  background: #2dd4bf;
  color: black;
}

/* loading wrapper */
.loading {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* dots container */
.dots span {
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out;
  font-size: 22px;
  line-height: 0;
}

/* delay each dot */
.dots span:nth-child(1) {
  animation-delay: 0s;
}
.dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

/* up-down animation */
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
  40% {
    transform: translateY(-6px);
    opacity: 1;
  }
}

@media screen and (max-width: 497px) {
  .settingContainer {
    width: 100vw;
    height: 100vh;
    padding: 20px 16px;
    box-sizing: border-box;
    max-height: 85vh;
    overflow-y: auto;
  }
}
