.container {
  font-family: Arial, sans-serif;
  background: #0f1620;
  color: white;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #1e293b;
  gap: 20px;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

.navButtons {
  display: flex;
  gap: 15px;
}

/* Buttons */
.primaryBtn {
  background: #1ddac6;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}

.primaryBtn:hover {
  background: #1ddac6;
}

.ghostBtn {
  background: transparent;
  border: none;
  color: #cbd5e1;
  cursor: pointer;
}

.ghostBtn:hover {
  background: #1ddac6;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}

.outlineBtn {
  background: transparent;
  border: 1px solid #334155;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.outlineBtn:hover {
  box-shadow: 0 0 10px rgba(36, 241, 220, 0.6);
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #1ddac6;
}

.hero p {
  color: #94a3b8;
  max-width: 600px;
  margin: 0 auto 30px;
}

.heroButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Features */
.features {
  padding: 80px 60px;
  text-align: center;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.featureCard {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
}

.featureCard:hover {
  transform: translateY(-5px);
  background: #273449;
}

.featureCard h3 {
  margin: 15px 0 10px;
}

.featureCard p {
  font-size: 14px;
  color: #94a3b8;
}

/* Benefits */
.benefits {
  padding: 80px 60px;
  text-align: center;
  background: #111827;
}

.benefitList {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.benefitList li {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

/* CTA */
.cta {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Footer */
.footer {
  border-top: 1px solid #0f1620;
  padding: 20px;
  color: #94a3b8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 488px) {
  .navButtons  {
    display: none;
  }

  .nav {
    justify-content: center;
  }
}
