/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
  pointer-events: all;
}

.showOverlay {
  opacity: 1;
}

/* Modal */
.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 420px;
  background: #111827;
  border-radius: 18px;
  padding: 22px;
  color: #e5e7eb;
  transform: translate(-50%, 200%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.5s ease;
}

.showModal {
  transform: translate(-50%, -50%);
  opacity: 1;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #1f2933;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.lockIcon {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: rgba(45, 212, 191, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  background: none;
  border: none;
  color: #94a3b8;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
}

.closeBtn:hover {
  color: white;
  background-color: #e5e7eb3b;
}

/* SECTION */
.section {
  margin-top: 18px;
  margin-bottom: 30px;
}

.label {
  color: #94a3b8;
  font-size: 14px;
  margin-bottom: 8px;
  padding-left: 5px;
}

.typeRow {
  display: flex;
  gap: 12px;
}

.typeBtn {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #1f2933;
  background: #0f1620;
  color: #94a3b8;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-weight: 600;
  cursor: pointer;
}

.typeBtn.active:hover {
  box-shadow: none;
}

.typeBtn:hover,
.cancelBtn:hover {
  box-shadow: 0 0 10px rgba(36, 241, 220, 0.6);
}

.saveBtn:hover {
  background: #24f1dc;
  box-shadow: 0 0 10px rgba(36, 241, 220, 0.6);
}

.active {
  border-color: #2dd4bf;
  color: #2dd4bf;
  background: rgba(45, 212, 191, 0.15);
}

/* FOOTER */
.footer {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

.footer button {
  cursor: pointer;
}

.cancelBtn {
  flex: 1;
  padding: 11px;
  border-radius: 12px;
  border: none;
  background-color: #0b0f14;
  color: #e5e7eb;
}

.saveBtn {
  flex: 1;
  padding: 11px;
  border-radius: 12px;
  border: none;
  background: #2dd4bf;
  color: #020617;
  font-weight: 600;
}

/* media */
@media screen and (max-width: 478px) {
  .modalContainer {
    width: 90%;
    /* height: 100vh; */
  }
}
