.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.showOverlay {
  opacity: 1;
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 60vw;
  width: 420px;
  background: #111827;
  border-radius: 18px;
  padding: 22px;
  color: #e5e7eb;
  transform: translate(-50%, -200%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.5s ease;
}

.modalContainer h2,
.modalContainer p {
  margin-top: 0;
  text-align: center;
}

.modalContainer h2 {
  margin-bottom: 20px;
}

.modalContainer p {
  margin-bottom: 25px;
  color: hsl(215 20% 55%);
}

.showModal {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.button {
  background-color: #e5e5e5;
  color: #171717;
  border: none;
  outline: none;
  font-weight: 600;
  height: 40px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 10px rgba(36, 241, 220, 0.6);
  transform: scale(1.01);
}

/* loading wrapper */
.loading {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* dots container */
.dots span {
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out;
  font-size: 22px;
  line-height: 0;
}

/* delay each dot */
.dots span:nth-child(1) {
  animation-delay: 0s;
}
.dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

/* up-down animation */
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
  40% {
    transform: translateY(-6px);
    opacity: 1;
  }
}
